#page-wrap {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
    background-color: red;
  }

  footer {

  background-color: blue;
        }

header {
	
	background-color: green;
}

