#page-wrap {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

body {
  
  background-image: url('./images/gridme.png') /* subtlepatterns.com*/;
	margin: 10px;
  
}

main {
    flex: 1 0 auto;
    color: $text-color;
    
    
    font-family: $default-font;
  }

footer.page-footer {
  background-color: $background;
  color: $text-color;
  font-family: $default-font;
}

header {
	background-color: $header-background;
  color: $header-text;
  font-family: $sharpie;
}

