$beige: #ECEAE1;
$tan: #787760;
$brown: #D0CAB4;
$red: #A60000;
$grey: #606264;
$almost-black: #151316;
$yellow: yellow;
$blue: blue;
$green: green;

$header-text: $red;
$header-background: $tan;
$secondary-text: $grey;
$text-color: $almost-black;
$accent: $tan;
$background: $beige;


$important: $red;
$caution: $yellow;
$happy: $blue;
$go: $green;