
$header-font: 'Special Elite', cursive;
$default-font: 'EB Garamond', serif;
$sharpie: 'Permanent Marker', cursive;
$script: 'Bad Script', cursive;
$audiowide: 'Audiowide', cursive;
$elite: 'Special Elite', cursive;
$cinzel: 'Cinzel', serif;
$vibes: 'Great Vibes', cursive;
$grace: 'Covered By Your Grace', cursive;
$prompt: 'Prompt', sans-serif;