/*import fonts*/
/* import colors */
/* import partials */
#overwrite h3 {
  color: #A60000;
  border: blue; }

#overwrite {
  color: red; }

#page-wrap {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

body {
  background-image: url("./images/gridme.png");
  margin: 10px; }

main {
  flex: 1 0 auto;
  color: #151316;
  font-family: "EB Garamond", serif; }

footer.page-footer {
  background-color: #ECEAE1;
  color: #151316;
  font-family: "EB Garamond", serif; }

header {
  background-color: #787760;
  color: #A60000;
  font-family: "Permanent Marker", cursive; }

.post {
  background-color: #ECEAE1; }

.title {
  color: #A60000;
  font: "Bad Script", cursive; }

.icons {
  color: blue; }

.date {
  position: absolute;
  bottom: 0; }

body {
  line-height: 32px;
  word-wrap: break-word !important; }

#page-wrap .adding {
  background-color: #ECEAE1;
  padding: 5px; }

h1 {
  font-size: 60px;
  text-align: center; }

h3 {
  font-size: 30px;
  text-align: center; }

h1 {
  margin-top: 100px;
  text-align: center;
  font-size: 60px; }

#container {
  margin: 0 auto; }

p {
  text-align: center; }

nav {
  margin: 10px 0;
  background-color: #A60000; }

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative; }

nav ul li {
  display: inline-block;
  background-color: #787760; }

nav a {
  display: block;
  padding: 0 10px;
  font-size: 20px;
  line-height: 60px;
  text-decoration: none; }

nav a:hover {
  background-color: #000000; }

/* Hide Dropdowns by Default */
nav ul ul {
  display: none;
  position: absolute;
  top: 60px;
  /* the height of the main nav */ }

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
  display: inherit; }

/* Fisrt Tier Dropdown */
nav ul ul li {
  width: 170px;
  float: none;
  display: list-item;
  position: relative; }

/* Second, Third and more Tiers	*/
nav ul ul ul li {
  position: relative;
  top: -60px;
  left: 170px; }

/* Change this in order to change the Dropdown symbol */
li > a:after {
  content: ' +'; }

li > a:only-child:after {
  content: ''; }

#submit {
  background-color: #A60000; }

#addPageModal {
  font: "Permanent Marker", cursive; }

#buttonCentered {
  text-align: center;
  font: "Permanent Marker", cursive; }
