/*import fonts*/
/* import colors */
/* import partials */
#overwrite h3 {
  color: #A60000;
  border: blue; }

#overwrite {
  color: red; }

#page-wrap {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

body {
  background-color: #ECEAE1; }

main {
  flex: 1 0 auto;
  color: #151316;
  font-family: "EB Garamond", serif; }

footer.page-footer {
  background-color: #ECEAE1;
  color: #151316;
  font-family: "EB Garamond", serif; }

header {
  background-color: #787760;
  color: #A60000;
  font-family: "Permanent Marker", cursive; }

.post {
  background-image: url("./images/gridme.png"); }
